/* You can add global styles to this file, and also import other style files */

:root {
  --color__allianz-blue: #003781;
  --color__chemie-green: #407d71;
  --color__white: white;

  $color__allianz-blue:  #003781;
  $color__chemie-green: #407d71;
  $color__white: white;

  --primary__color: var(--color__chemie-green);
  $primary__color: $color__chemie-green;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial;
}

* {
  box-sizing: border-box;
}
